/* Utilities */
.btn-primary {
  background: #003363;
}
.btn-primary:hover {
  background: #00509b;
}

.date-published .line {
  content: '';
  position: absolute;
  width: 2px;
  height: 50px;
  top: -11.5px;
  left: -35px;
  background: #d4d4d8;
  transform: rotate(90deg);
}

header {
  min-height: 60px;
  display: flex;
  align-items: center;
}
#menu {
  background: #003363;
}
.nav-menu {
  border-top: 1px solid #00509b;
  border-bottom: 1px solid #00509b;
}
.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.nav-item.nav-login {
  border: 1px solid #b91c1c;
  border-radius: 4px;
}
.nav-item.nav-login:hover a {
  background: none;
}
.dropdown .nav-item {
  justify-content: start;
}
.nav-item a {
  width: 100%;
  padding: 8px;
}
.nav-item:hover a {
  border-radius: 4px;
  background: #b91c1c;
  transition: 300ms;
}
.nav-item.active a {
  border-radius: 4px;
  background: #b91c1c;
  transition: 300ms;
  border: 1px solid #fff;
}

.instagram,
.youtube,
.facebook,
.twitter {
  fill: white;
}
.instagram-hover:hover,
.youtube-hover:hover {
  transform: scale(110%);
}
.fill-blue {
  fill: #003363;
}

.card.card-wrapper {
  padding: 0;
}

.user-details {
  bottom: 0;
}

#menu {
  top: -100vh;
  transition: all 200ms ease;
}
#menu.show {
  top: 0;
  transition: all 200ms ease;
  z-index: 40;
}

#dropdownMenu {
  top: 44px;
  display: none;
}
#dropdownMenu.show {
  display: block;
  animation: fadeIn 0.3s;
}
.dropdown {
  justify-content: start;
}

.overlay {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  /* transform: translate(-8px, 0); */
  width: 100vw;
  height: 100vh;
  z-index: -1;
  /* transition: all 200ms ease; */
  animation: fadeIn 0.3s;
}

.tabs button {
  background-color: inherit;
  outline: none;
  border: none;
  padding: 14px 16px;
  float: left;
  transition: 300ms;
}
.tabs button:hover {
  background-color: #00509b;
  color: white;
}
.tabs button.active {
  background-color: #003363;
  color: white;
  font-weight: bold;
}
.tabcontent {
  display: none;
  animation: fadeIn 0.5s;
}

.article-table .card {
  padding: 0;
}

.modal {
  display: none;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 50;
  animation: fadeIn 300ms;
}
.modal .modal-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal .modal-body {
  max-height: 500px;
  overflow-y: auto;
}
.custom-scroll::-webkit-scrollbar {
  width: 5px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: #e4e4e4;
  border-radius: 5px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: #00509b;
  border-radius: 5px;
}
.modal .modal-body form {
  display: none;
  animation: fadeIn 300ms;
}
.modal .modal-btn:hover {
  background: #00509b;
  color: #fff;
  transition: 300ms;
}
.modal .modal-btn.active {
  background: #003363;
  color: #fff;
}
.modal .closeModal {
  cursor: pointer;
  color: #262626;
}
.modal.show {
  display: block;
  animation: fadeIn 300ms;
}

@media (min-width: 768px) {
  .nav-item:nth-child(4) {
    margin-right: 10px;
  }
  .nav-item a {
    width: 100%;
  }
  .nav-menu {
    border-right: 1px solid #fff;
    border-top: none;
    border-bottom: none;
  }
  .nav-subMenu {
    margin-left: 5px;
  }
  #menu {
    top: 0;
    background: transparent;
  }
  #dropdownMenu > a:hover {
    background: #801111;
    transition: 300ms;
  }
  .dropdown-content {
    width: 150px;
  }
  .overlay {
    display: none;
  }
  .card-wrapper img {
    transition: all 300ms ease;
  }
  .user-details {
    bottom: -100%;
    transition: all 300ms ease;
  }

  .card-wrapper:hover img {
    transform: scale(1.1) rotate(5deg);
  }

  .card-wrapper:hover .user-details {
    bottom: 0;
  }
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
