.date-published .line {
  content: '';
  position: absolute;
  width: 2px;
  height: 50px;
  top: -11.5px;
  left: -35px;
  background: #d4d4d8;
  transform: rotate(90deg);
}

.instagram,
.youtube,
.facebook,
.twitter {
  fill: white;
}
.instagram-hover:hover,
.youtube-hover:hover {
  transform: scale(110%);
}
.fill-blue {
  fill: #003363;
}

.card.card-wrapper {
  padding: 0;
}

.user-details {
  bottom: 0;
}

#menu {
  top: -100vh;
  transition: all 200ms ease;
}
#menu.show {
  top: 0;
  transition: all 200ms ease;
}

#dropdownMenu {
  top: 44px;
  display: none;
}
#dropdownMenu.show {
  display: block;
  animation: fadeIn 0.3s;
}

.overlay {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  /* transform: translate(-8px, 0); */
  width: 100vw;
  height: 100vh;
  z-index: -1;
  /* transition: all 200ms ease; */
  animation: fadeIn 0.3s;
}

.tabs button {
  background-color: inherit;
  outline: none;
  border: none;
  padding: 14px 16px;
  float: left;
  transition: 300ms;
}
.tabs button:hover {
  background-color: #00509b;
  color: white;
}
.tabs button.active {
  background-color: #003363;
  color: white;
  font-weight: bold;
}
.tabcontent {
  display: none;
  animation: fadeIn 0.5s;
}

.article-table .card {
  padding: 0;
}

@media (min-width: 768px) {
  #menu {
    top: 0;
  }
  .overlay {
    display: none;
  }
  .card-wrapper img {
    transition: all 300ms ease;
  }
  .user-details {
    bottom: -100%;
    transition: all 300ms ease;
  }

  .card-wrapper:hover img {
    transform: scale(1.1) rotate(5deg);
  }

  .card-wrapper:hover .user-details {
    bottom: 0;
  }
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
